<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <style>
        .container {
            margin-top: 40px;
            margin-bottom: 40px;
            /* text-align: center; */
        }

        .panel-heading {
            font-size: 30px;
            text-align: center;
        }

        img {
            width: 50px;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">MSD Image Gallery</div>
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <p style="color:red;">
                                <%= typeof msg != 'undefined' ? msg : '' %>
                            </p>
                            <form action="/up" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="exampleInputFile">Select Photo</label>
                                    <input type="file" id="exampleInputFile" name="avatar">
                                </div>
                                <button type="submit" class="btn btn-default">Start Upload</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">This System Powered by
                    <a target="_blank" href="https://www.facebook.com/DrMagnet00">AbdElRahman</a>
                    &
                    <a target="_blank" href="https://www.facebook.com/t0nxx">Toni</a>
                </div>
            </div>
        </div>
    </div>

   
           

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>